Source: cronopete
Maintainer: Sergio Costas <rastersoft@gmail.com>
Priority: optional
Section: misc
Standards-Version: 4.0.0
Build-Depends: build-essential, po-debconf, valac (>=0.30), libc6-dev, libgtk-3-dev, libappindicator3-dev, libgee-0.8-dev, libgsl-dev, libudisks2-dev, cmake, intltool

Package: cronopete
Architecture: any
Version: 4.3.0
Depends: libappindicator3-1, libgee-0.8-2, libgsl23 | libgsl2, libc6-dev, libudisks2-0, rsync
Description: A backup utility for Linux.
 .
 Cronopete is a backup utility for Linux, modeled after Apple's Time
 Machine. It aims to simplify the creation of periodic backups.
 .
