Source: cronopete
Maintainer: Sergio Costas Rodriguez <raster@rastersoft.com>
Section: devel
Priority: optional
Homepage: http://www.rastersoft.com
Build-Depends: build-essential, po-debconf, valac-0.20, libc6-dev, libappindicator3-dev, libatk1.0-dev, libcairo2-dev, libgtk-3-dev, libgdk-pixbuf2.0-dev, libgee-0.8-dev, libglib2.0-dev, libgsl0-dev, libpango1.0-dev, libx11-dev, cmake, gettext, pkg-config

Package: cronopete
Architecture: any
Depends: libappindicator3-1, libdbusmenu-glib4, libgtk-3-0, libatk1.0-0, libglib2.0-0, libpangocairo-1.0-0, libgdk-pixbuf2.0-0, libcairo-gobject2, libpango-1.0-0, libcairo2, libgee-0.8-2, libgsl0ldbl, libc6, libx11-6
Description: A backup utility
 A backup utility modeled after Apple's Time Machine
