[Desktop Entry]
X-MultipleArgs=false
Type=Application
Name=Restore backup
GenericName=Restore backed up files
Comment=Allows to restore files from a backup
Comment[cs]=Umožňuje obnovit soubory ze zálohy
Comment[es]=Permite restaurar ficheros a partir de una copia de seguridad
Comment[gl]=Permite restaurar ficheiros a partires dunha copia de seguridade de Cronopete
Comment[fr]=Permet de restaurer des fichiers à partir d’une sauvegarde
TryExec=cronopete_restore.sh
Exec=cronopete_restore.sh
Categories=Archiving;Utility;GTK;
Icon=cronopete_restore.svg
Name[cs]=Obnovit zálohu
GenericName[cs]=Obnovit zazálohované soubory
Name[es]=Restaurar copia de seguridad
GenericName[es]=Restaurar ficheros de una copia de seguridad
Name[gl]=Restaurar copia de seguridade
GenericName[gl]=Restaurar ficheiros dunha copia de seguridade
Name[fr]=Restaurer une copie de sécurité
GenericName[fr]=Restaurer des fichiers d’une copie de sécurité
