[Desktop Entry]
Type=Application
Exec=cronopete
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-phase=Running
Name=Simple backup application
